.bk
{
  flex-direction:column;
  display: flex;
}

.squareBlank {
  background: #FDF5E6;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}
.squareMoney{
  background: #ff0;
  border-radius: 34px;
  border: 1px solid #999;
  float: left;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  width: 34px;
}
.squareSnake {
  background: darkgreen;
  border: 1px solid #999;
  border-radius: 20px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}


